myEnv.txt
temp/*
!temp/.gitkeep


secure-keystore/
secure-keystore/**
secure-keystore/slc-pstore/
secure-keystore/slc-pstore/**
*.key
*.crt
*.csr
*.srl
*.pem
*.pfx
.env
.env.*

/node_modules/

frontend/node_modules/
